body {
    font-family: Arial, sans-serif;
    background-color: #aaa0a0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6e5a5c;
    color: rgb(48, 27, 27);
    text-shadow:0px 0px 15px #c9c0c0;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.singer {
    background-color: rgb(90, 45, 45);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #271315;
    text-shadow:0px 0px 20px #c9c0c0;
}

.singer h2 {
    margin-top: 0;
}

.singer img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.details {
    display: none;
    margin-top: 10px;
    background-color: #553d3d;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #421e1e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
